.title-consultas{
    color: #8ce2e8;
}
.actions span{
    color: #06827a;
}
.consulta-modal h2 {
    color: #8ce8d7;
}
h2:hover{
    color: #8ce8d7;
}
.title{
    color: #8ce8d7;
}
.span-time{
    width: 20px;
    line-height: 50px;
}