.profile {
    margin-top: 50px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1em;
    background-color: rgb(75, 240, 229);
  }

.section-profile{
    margin-bottom: 50px;
}
.nav-link{
    color: #34ebeb;
}
.react-tabs__tab--selected{
    background-color: #076458 !important;
    color: hsl(330, 100%, 96%);
}
.nav-link:hover,
.nav-link:focus{
    background-color: #3ce8da;
    color: #fff;
    cursor: pointer;
}