.btn {
    background-color: rgb(130, 6, 107);
    border: rgb(232, 15, 192);
}
.btn:hover {
    background-color: rgb(214, 0, 175);
}

.login-content{
    color: rgb(130, 6, 107);
    margin-left: 430px;
    margin-top: 50px;
    width: 450px;
    height: 500px;
    background-color: #F5F5F5;
    box-shadow: 0px 0px 5px #0004;
    border-top-right-radius: 15% ;
    border-bottom-left-radius: 15% ;

}
