#footer {
    background: linear-gradient( 120deg, #20d4b9, #19b29b, #076458 );
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #363636;
    color: #fff;
  }