#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient( 120deg, #20d4b9, #19b29b, #076458 );
    border-bottom: 1px solid #363636;
    padding: 0 1em;
    padding-top: 1em;
  }
  #nav-links {
    display: flex;
    align-items: center;
  }
  
  #nav-links li {
    margin-right: 1em;
  }
  
  #nav-links span {
    cursor: pointer;
  }
  
  #nav-links svg {
    font-size: 1.5em;
  }

  #nav-links a:hover {
    color: #19b29b ;
  }
  h2:hover {
    color: #076458 ;
  }
  .btn-logout {
    color: #20d4b9;
  }
  .btn-logout:hover{
    color: #19b29b ;
  }